<footer class="site-footer">

    <div class="wrapper">
        <i class="svg-icon linkedin"></i>

        <ul class="social-media-list">
            <li>
                <i class="fa fa-fw fa-github"></i>&nbsp;
                <a href="https://github.com/starovoitovs">starovoitovs</a>
            </li>
            <li>
                <i class="fa fa-fw fa-linkedin"></i>&nbsp;
                <a href="https://linkedin.com/in/konstantins-starovoitovs/">linkedin</a>
            </li>
            <li>
                <i class="fa fa-fw fa-stack-exchange"></i>&nbsp;
                <a href="https://quant.stackexchange.com/users/20659/starovoitovs">quant.SE</a>
            </li>

        </ul>

        <p>&copy; Konstantins Starovoitovs &bull; {{ 'now' | date: "%Y" }}</p>

    </div>

</footer>