$fa-font-path: "/assets/fonts/";

@import "./bootstrap/scss/bootstrap";
@import "./font-awesome/scss/font-awesome";

blockquote {
  letter-spacing: 0;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin-top: 30px;
}

pre, code {
  font-size: 14px;
}

.wrapper {
  max-width: 920px;
}

.site-header {
  background-color: $primary;
  border: none;

  .trigger a {
    margin-left: 10px;
    color: white;
  }
}

a:link, a:active, a:visited, a:hover {
  color: $primary;
}

.site-nav label[for="nav-trigger"] {
  display: none;
}

@media screen and (max-width: 600px) {
  .site-nav label[for="nav-trigger"] {
    display: block;
    margin: 0;
  }

  .trigger a {
    display: block;
    text-align: left;
    width: 100%;
    margin-right: 20px;
  }
}

.project-image {
  height: 200px;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.site-nav, footer, .post-meta {
  font-family: $font-family-sans-serif;
}

.post-content[itemprop="articleBody"] {

  li {
    //margin: 15px auto;
  }

  img {
    display: block;
    margin: 30px auto;
  }

  img + em {
    color: rgba(117, 117, 117, 1);
    font-style: normal;
    display: block;
    text-align: center;
    font-size: $small-font-size;
    margin-top: -30px;
    margin-bottom: 30px;
    font-family: $font-family-sans-serif;
  }

  mjx-container {
    margin: 30px auto !important;
  }

}