---
layout: default
---

<div class="home">

    <h1 class="mb-4">Konstantins Starovoitovs</h1>

    <div class="row">
        <div class="col-12 col-md-8">
            <p>I am a PhD student and research assistant at the <a
                    href="https://www3.math.tu-berlin.de/stoch/IRTG/">Berlin-Oxford IRTG 2544 "Stochastic Analysis in
                Interaction"</a> working on stochastic partial differential equations, supervised by <a
                    href="https://www.applied-financial-mathematics.de/ulrich-horst">Ulrich Horst</a> and <a
                    href="https://www.applied-financial-mathematics.de/dorte-kreher">Dörte Kreher</a>. Prior to that, I
                held a position as a quant at a major investment bank and worked as a software engineer. My
                interests include quantitative finance, market microstructure and machine learning.</p>
            <h3>Academic experience</h3>
            <ul>
                <li>2020 – 2024: PhD in Mathematics (HU Berlin/Oxford)</li>
                <li>2018 – 2020: Mathematics M.Sc. (TU Berlin)</li>
                <li>2012 – 2016: Mathematics B.Sc. (U Bonn)</li>
            </ul>
        </div>
        <div class="col-12 col-md-4">
            <img src="/assets/me.jpg" alt="Me">
        </div>
    </div>

    <h3>Research</h3>
    <ul>
        <li>U. Horst, D. Kreher, and K. Starovoitovs. "Second-Order Approximation of Limit Order Books in a Single-Scale
            Regime," 2023. URL: <a href="https://arxiv.org/abs/2308.00805">https://arxiv.org/abs/2308.00805</a>.
        </li>
        <li>B. Hambly, D. Kreher, and K. Starovoitovs "Non-negative Martingale Solutions to the Stochastic Porous Medium
            Equation with Sticky Behavior," 2024. URL: <a href="https://arxiv.org/abs/2411.05924">https://arxiv.org/abs/2411.05924</a>.

        </li>
    </ul>

    <hr class="mt-5 mb-4">

    <h2 class="mb-4">Personal projects</h2>

    Outside of my academic studies, I engage in projects centered around machine learning and quantitative finance. The
    overview of the recent projects can be found below.

    <ul class="post-list">
        {% for post in site.posts %}
        {% unless post.show_in_nav == false %}
        <li class="my-5">

            <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <span class="text-muted" style="font-size: 18px">{{ post.date | date: date_format }}</span>

            <p>{{ post.description }}</p>
            <p>{{ post.excerpt }}</p>
        </li>
        {% endunless %}
        {% endfor %}
    </ul>

</div>
