---
layout: default
---

<div class="home">

    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
            {% unless post.show_in_nav == false %}
                <li>

                    <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
                    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                    <span class="text-muted">{{ post.date | date: date_format }}</span>

                    <p>{{ post.description }}</p>
                    <p>{{ post.excerpt }}</p>
                </li>
            {% endunless %}
        {% endfor %}
    </ul>

</div>